.page.theme_light {
  --bg-color: #FFF1F7;
  --accent-bg-color: url(../images/cover-image-light.png);
  --decoration-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --subtitle-color: #353430;
  --element-color: #353430;
  --text-color: #353430;
  --hover-style-button:rgba(50, 49, 45, 0.40);
}

.theme_light .decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --accent-bg-color: url(../images/cover-image-light.png);
    --decoration-color: #353430;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --subtitle-color: #353430;
    --element-color: #353430;
    --text-color: #353430;
    --hover-style-button: rgba(255, 0, 112, 0.40);
  }

  .decorated-element {
    display: none;
  }
}
