.page {
  background-color: var(--bg-color, #000028);
  font-family: var(--main-font, sans-serif);
  font-size: var(--font-size, 18px);
  background-attachment: fixed;
}

.decorated-zone {
  color: var(--decoration-color, #FF0070);
  block-size: 100vh;
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  background-image: var(--accent-bg-color, url(/images/cover-image-dark.png));
  background-size: cover;
  background-position: center;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.decorated-zone::before {
  content: "";
  border: 1px solid  currentColor;
  position: absolute;
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  width: 25px;
  height: 25px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  content: "";
  border: 1px solid currentColor;
  position: absolute;
  bottom: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  left: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  height: 25px;
  width: 25px;
  border-top: none;
  border-right: none;
}

span {
  position: absolute;
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: clamp(1.1875rem, 0.5911rem + 2.5445vw, 1.8125rem);
}

span::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--decoration-color, #FF0070);
  filter: drop-shadow(0px 0px 4px var(--decoration-color, #FF0070));
  margin-inline-start: 10px;
}

.theme_light span {
  display: none;
}

.theme_auto span {
  display: none;
}

.header__theme-menu {
  margin-block-start: clamp(4.0625rem, -2.3187rem + 27.2265vw, 10.75rem);
  grid-row: 1 / 2;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: var(--title-color, #DB00FF);
  text-shadow: 4px 4px 0px #FF0070;
  font-weight: 700;
  line-height: 82.5%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  grid-row: 2 / 3;
  text-align: start;
}

.text {
  font-weight: 700;
  line-height: 130%;
  grid-row: 3 / 4;
  justify-self: end;
  align-self: center;
}

.title_decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--subtitle-color, #000028);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--element-color, #FF0070);
}

@media (width >= 768px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    padding-left: 0;
  }

  .title {
    grid-column: 1 / 3;
  }

  .text {
    grid-column: 2 / 3;
  }
}

@media (768px <= width < 1024px) {
  .header__theme-menu {
    grid-column: 2 / 3;
    justify-self: end;
  }

  .text {
    max-width: 364px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: center;
    margin: 0 0 0 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .text {
    max-width: 491px;
  }
}

.section {
  font-family: var(--main-font, sans-serif);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px 10px 10px 10px;
}

.section__title {
  color: var(--element-color, #FF0070);
  grid-column: 1 / 4;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  font-size: var(--font-size, 18px);
}

.section__content {
  grid-column: 1 / 4;
  display:grid;
  gap: 20px;
}

.section__content-structure {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__content-title {
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  font-size: var(--font-size, 18px);
}

.section__content-text {
  color: var(--text-color, #F1B2CE);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  font-size: var(--font-size, 18px);
}

.section__content-title_thin {
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  font-size: var(--font-size, 18px);
}

.section-pictures {
  display: grid;
  gap: 10px;
  padding: 40px 10px;
}

.section-pictures__content {
  display: grid;
  grid-column: 1 / 4;
  gap: 10px;
}

.picture {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.picture-first,
.picture-second,
.picture-third,
.picture-fourth,
.picture-fifth {
  grid-column: 1 / 4;
}

@media (width >= 768px) {
  .section {
    padding: 60px 20px 20px 20px;
  }

  .section__title {
    grid-column: 1 / 2;
  }

  .section__content {
    grid-column: 2 / 4;
  }

  .section__increase {
    grid-column: 1 / 4;
  }

  .section-pictures {
    padding: 60px 20px;
    gap: 20px;
  }
  
  .section-pictures__content {
    grid-template-columns: repeat(3, min-content);
    grid-template-rows:  repeat(3, min-content);
    gap: 20px;
  }

  .picture-first {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .picture-second {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }

  .picture-third {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }
  
  .picture-fourth {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .picture-fifth {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }
  
}

@media (768px <= width < 1024px) {
  .section__content {
    margin-inline-start: 5px;
  }

  .section__increase {
    margin-inline-start: 0;
  }
  
  .picture-first {
    inline-size: 479px;
    block-size: 192px;
  }

  .picture-second {
    inline-size: 229px;
    block-size: 441px;
  }

  .picture-third {
    inline-size: 229px;
    block-size: 568px;
  }
  
  .picture-fourth {
    inline-size: 230px;
    block-size: 230px;
  }

  .picture-fifth {
    inline-size: 479px;
    block-size: 318px;
  }
}

@media (width >= 1024px) {
  .section__increase {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .picture-first {
    inline-size: 649px;
    block-size: 260px;
  }

  .picture-second {
    inline-size: 315px;
    block-size: 595px;
  }

  .picture-third {
    inline-size: 315px;
    block-size: 768px;
  }
  
  .picture-fourth {
    inline-size: 315px;
    block-size: 315px;
  }

  .picture-fifth {
    inline-size: 649px;
    block-size: 428px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color, #FF0070);
  cursor: pointer;
}

a:hover {
  border-bottom: 1px solid currentColor;
}

a,
button:focus {
  outline: none;
}

a:focus-visible {
  border: 1px solid currentColor;
  outline: none;
}

button:hover {
  border: 1px solid var(--hover-style-button, rgba(50, 49, 45, 0.40));
}

button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

