:root {
  --bg-color: #000028;
  --accent-bg-color: url(/images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --main-font: 'IBM Plex Mono', Arial, sans-serif;
  --font-size: 18px;
}